.signup-form
{
    display:flex;
    flex-direction: column;
    height:100vh;
    justify-content: space-between;


}
.signup-form--input
{
    width:100%;
    font-size:1rem;
    padding:12px 10px 10px 10px;
    border:none;
    background-color:var(--tertiary-color);
    border-radius:6px;
    outline:none;
   
}
.helperText
{
    font-size:.8rem;
    padding:4px 8px;
    margin:0;
    font-weight:300;
}

